<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/main">
        <img src="/styling/logo.png" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div clas?s="collapse navbar-collapse">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        </ul>
        <div>
            <a href="/users/login" class="btn btn-primary btn-lg" style="background-color: #54c7c5;">Login</a>
            <a href="/users/register" class="btn btn-primary btn-lg" style="background-color: #54c7c5;">Become Event Organiser</a>
        </div>
      </div>
    </div>
  </nav>
